.SliderTopLabelNumbersList {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
}

.ListItemContainer {
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.ListItemTextContainer {
    margin: 0;
    padding: 0 !important;
    align-items: flex-end;
}

.PainLevelText {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.PainValueText {
    padding: 0 !important;
    margin-top: 17px;
    text-align: center;
    font-size: 20px !important;
}

.ListItemDividerContainer {
    padding: 0 !important;
    justify-content: center !important;
}

.DividerContainer {
    color: #00000033;
    height: 24px !important;
}

@media only screen and (max-width: 768px) {
    .PainLevelText {
        font-size: 10px !important;
    }

    .PainValueText {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 429px) {
    .PainLevelText {
        font-size: 8px !important;
    }

    .PainValueText {
        font-size: 12px !important;
    }
}
