.ScreenFooter {
    align-self: flex-end;
    align-items: flex-end;
    padding: 0px 70px 50px 68px;
    width: 1366px;
    height: 80px;
}

@media only screen and (max-width: 1194px) {
    .ScreenFooter {
        width: 1194px;
        height: 72px;
    }
}

@media only screen and (max-width: 768px) {
    .ScreenFooter {
        width: 768px;
        height: 72px;
    }
}

@media only screen and (max-width: 375px) {
    .ScreenFooter {
        width: 375px;
        height: 80px;
        padding: 0px 24px 64px 21px;
    }
}
