.BackButton {
    height: 48px;
    background-color: white !important;
    color: #00000080 !important;
    padding: 0;
}

.BackButton:hover {
    background-color: white !important;
    color: #999999 !important;
}
