.ScreenHeader {
    background-color: #469DE3;
    padding: 0px 63px 0px 70px;
}

@media only screen and (max-width: 1194px) {
    .ScreenHeader {
        width: 1194px;
        height: 72px;
        padding-right: 44.04px;
    }  
}

@media only screen and (max-width: 768px) {
    .ScreenHeader {
        width: 768px;
        height: 72px;
        padding-right: 66px;
    }
}

@media only screen and (max-width: 375px) {
    .ScreenHeader {
        width: 375px;
        height: 80px;
        padding: 0px 19px 0px 20px;
    }

    .nextButton {
        height: 40px;
        width: 120px;
    }
}